.meme-generator{
    font-family: "Roboto",sans-serif;
    text-align: center;
}

.meme-generator img{
    height: 430px;
    object-fit: cover;

}

.meme-generator .generate-meme-btn{
    padding: 8px 20px;
    border: none;
    border: 2px solid #222;
    border-radius: 4vh;
    margin: 24px ,0;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: #20d30c;
    cursor: pointer;
}

.meme-generator .generate-meme-btn:hover{
    background: #13ab02;
}

.meme-generator .meme-author{
    margin: 8px;
}