* {
    font-family: sans-serif;
    color: bisque;

}

body,
html {
    background-color: #161b22;
}

main {
    margin: 2vw;
    display: flex;
    justify-content: space-around;
}

.content {
    width: 60%;
}

.sidebar {
    border-left: 2px solid gainsboro;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    background: none;
    border: 2px solid gainsboro;
    border-radius: 1vw;
    margin: 1vw 0;
    padding: 1vw 5vw;
}